* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #dce6ff, #f4f7ff); 
}

.container {
    max-width: 900px;      
    margin: 30px auto;      
    background: #ffffff;    
    padding: 25px;
    border-radius: 18px;
    box-shadow: 0 4px 25px rgba(0,0,0,0.1);
}

#navbar {
    background: #1809eb;
    padding: 16px 10px;
    font-size: 25px;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 10;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background: transparent;
}

nav ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 12px 0;
    margin: 0;
}

nav ul li {
    background: #FFFFFF;
    padding: 8px 15px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    font-weight: bold;
}

nav ul li:hover {
    background: #8489C4;
    color: white;
}

section {
    max-width: 800px;
    margin: 20px auto;
    text-align: center; 
    padding: 20px;
    text-align: center;
}

section h2, 
section h3 {
    text-align: center;
}

#header {
    text-align: center;
    padding: 25px 10px;
    font-size: 26px;
    color: #553C8B;
    font-weight: bold;
}
        /* --- Tambahan untuk biodata --- */
.profile {
    text-align: center;
    margin-top: 20px;
}

.profile img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #1809eb;
}

h2 {
    text-align: center;
    margin-top: 100px;
    color: #050411;
}

table {
    width: 90%;
    margin: 25px auto;
    font-size: 18px;
}

table td {
    padding: 10px 5px;
}

.label {
    font-weight: bold;
    width: 220px;
}

.back-btn {
    display: block;
    text-align: center;
    width: 200px;
    margin: 30px auto;
    padding: 12px 0;
    background: #1809eb;
    color: white;
    font-weight: bold;
    border-radius: 12px;
    text-decoration: none;
    transition: 0.3s;
}

.back-btn:hover {
    background: #0d0580;
}

footer {
    background: #1809eb;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

/* === ANIMASI SCROLL REVEAL === */

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all .8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.reveal-left {
    opacity: 0;
    transform: translateX(-40px);
    transition: all .8s ease;
}

.reveal-left.active {
    opacity: 1;
    transform: translateX(0);
}

.reveal-right {
    opacity: 0;
    transform: translateX(40px);
    transition: all .8s ease;
}

.reveal-right.active {
    opacity: 1;
    transform: translateX(0);
}

.reveal-scale {
    opacity: 0;
    transform: scale(0.85);
    transition: all .8s ease;
}

.reveal-scale.active {
    opacity: 1;
    transform: scale(1);
}
